d3dshot==0.1.5
numpy==1.22.0

# note: this is a CPU-only version of OpenCV
opencv-python-headless==4.5.1.48

# get the rest of the dependencies from another index
--extra-index-url https://rospypi.github.io/simple
cv_bridge
rospy
sensor_msgs
